<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>There's a Star Man</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>All the latest...</h1>
      <p>From Mars!</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="img-responsive" src="{{ marsJSON.FeaturedImage }}" alt="Mars Featured Image" >
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h2>The latest news on Mars:</h2>
        <h3>{{ marsJSON.News.Headline }}</h3>
        <h3>{{ marsJSON.News.Summary }}</h3>
      </div>
      <div class="col-4">
        <h2>The Weather on Mars is Currently:</h2>
        <h3>{{ marsJSON.Weather }}</h3>
      </div>
      <div class="col-4">
        <h2>Mars Facts</h2>
        {{ marsJSON.Facts|safe }}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h2>{{ marsJSON.HemisphereImages.0.title }}</h2>
        <img class="img-responsive" src="{{ marsJSON.HemisphereImages.0.img_url }}" alt="HemisphereImages 0" >
      </div>
      <div class="col-3">
        <h2>{{ marsJSON.HemisphereImages.1.title }}</h2>
        <img class="img-responsive" src="{{ marsJSON.HemisphereImages.1.img_url }}" alt="HemisphereImages 1" >
      </div>
      <div class="col-3">
        <h2>{{ marsJSON.HemisphereImages.2.title }}</h2>
        <img class="img-responsive" src="{{ marsJSON.HemisphereImages.2.img_url }}" alt="HemisphereImages 2" >
      </div>
      <div class="col-3">
        <h2>{{ marsJSON.HemisphereImages.3.title }}</h2>
        <img class="img-responsive" src="{{ marsJSON.HemisphereImages.3.img_url }}" alt="HemisphereImages 3" >
      </div>
    </div>
  </div>
</body>

</html>
